a {
    cursor: progress;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

a:visited{
    color: green;
}
a:active {
    color: aqua;
}

a:hover {
    background-color: red;
    color: white;
}