* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-image: url('./images/icon.png');
    list-style: square inside url('./images/icon.png');
    background-color: lightblue;
}

ul li {
    border: solid 1px black;
    padding: 20px;
}

ol li {
    list-style-image: url('./images/icon.png');
    list-style: square inside url('./images/icon.png');
    border: solid 1px black;
    padding: 20px;
    background-color: paleturquoise;
}
