img {
    width: 200px;
}

img.scale {
    transform: scaleX(2);
    margin: 100px;
}

img.rotate {
    transform: rotate(20deg);
    margin: 100px;
}

img.translate {
    transform: translateY(150px);
}